.h-wrapper{
    background-color: var(--black);
    color: white;
}

.h-container{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}

.h-menu{
    gap: 1rem;    
}

img{
    z-index: 10;
    width: 200px;
}

.menu-icon{
    display: none;
}

/* @media screen and (max-width: 768px){
    .h-container{
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: var(--secondary);
    }

    .h-menu{
        color: var(--black);
        position: absolute;
        top: 3rem;
        right: 4rem;
        background: white;
        flex-direction: column;
        font-weight: 500;
        gap: 2rem;
        padding: 3rem;
        border-radius: 10px;
        align-items: center;
        box-shadow: var(--shadow);
        z-index: 100;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }
} */

/* Mobile devices (up to 480px) */